
<main class="contacts-container">
  <div class="contacts">
      <div class="card linkedin">
         <h2 class="heading"><i class="fab fa-linkedin"></i> LinkedIn</h2>
         <p>In my <a target=”_blank” id="linkedinLink" href="https://www.linkedin.com/in/rosen-yorgov/">LinkedIn</a> profile you can find some more details about previous job experience and all my SoftUni certificates.</p>
         <p>Feel free to send me a connection request or send me a private message.</p>
      </div>
      <div class="card email">
         <h2 class="heading"><i class="fas fa-envelope"></i> Email</h2>
         <form action="https://formsubmit.co/8f2330370b67ff5b7578043d1c25623a" method="POST" class="email-form" onsubmit="onSubmit()">
            <input type="email" name="email" placeholder="Your Email Address" required>
            <input type="text" name="_subject" placeholder="Title" required>
            <textarea name="message" id="messageContent" cols="10" rows="10" placeholder="Write your message here..."></textarea>

            <!-- <input type="hidden" name="_next" value="../thankyou/thankyou.html"> -->
            <!-- value="https://ania-kubow.com/pages/thankyou.html" -->
            
            <input type="submit" value="Send email">
         </form>
      </div>
  </div>
</main>
