/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;    
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    /* background-color: darkslategrey; */
    background-image: url("../images/3657664.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: larger;
}

.navbar{
   overflow: hidden;
   z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.575); */
    background: rgb(3,108,94);
    background: linear-gradient(90deg, rgba(3,108,94,0.3) 0%, rgba(0,156,134,0.3) 35%, rgba(0,223,192,0.3) 100%);
}

.navbar header{
    color: #385A64;
    display: inline-block;
    padding: 5px;
    font-size:larger;
    font-weight: bold;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
}

.navigation li{
    display: inline-block;
    padding: 10px;
    text-align: center;
    border: .5px solid rgba(255, 255, 255, 0.644);
}

.navigation li:hover{
    width: 150px;
    background-color: rgba(0,223,192,0.5);
    border-radius: 10px;
    transition: .4s;
}

.navigation li a{
    color: #385A64;
    font-size: larger;
}

/* home page info */
#summary,
#knowledge{
    text-align: center;
}

.homepage{
    position: relative;
    top: 20%;
    width: 600px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    color: #152125;
    background: rgb(3,108,94);
   background: linear-gradient(90deg, rgba(3, 150, 130, 0.7) 0%, rgba(2, 172, 149, 0.7) 35%, rgba(0,223,192,0.7) 100%);
   border-radius: 3px;
}

.home-contents{
   height: 120px;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.644);
}

.home-contents h3,
.home-contents p{
   margin: 5px 0;
}

.homepage > div > div p{
    font-weight: 550;
    margin-top: 10px;
}

/* contact me */
.contacts-container{
   width: 1600px;
   height: 600px;
   box-sizing: border-box;
   position: relative;
   top: 10%;
   margin: auto;
}

.contacts{
   width: 80%;
   height: 60%;
   margin: auto;
   padding: 10px;
   display: flex;
   justify-content: space-around;
   background: rgb(3,108,94);
   background: linear-gradient(90deg, rgba(3, 150, 130, 0.7) 0%, rgba(2, 172, 149, 0.7) 35%, rgba(0,223,192,0.7) 100%);
   border-radius: 3px;
}

.card{
   width: 50%;
   height: 90%;
   margin:auto;
   margin-top: 10px;
   margin-right: 2px;
   text-align: center;
   color: #385A64;
   border-radius: 3px;
   background-color: rgba(255, 255, 255, 0.322);
}

.heading{
   margin-bottom: 10px;
}

#linkedinLink{
   text-decoration: none;
   font-weight: bold;
   color: #385A64;
}

.email-form{
   display: flex;
   flex-direction: column;
}

.email-form input{
   width: 80%;
   margin: 10px;
   align-self: center;
   border-radius: 5px;
   border:none;
   background-color: rgba(255, 255, 255, 0.479);
   font-size: large;
}

.email-form textarea{
   font-size: large;
}

#messageContent{
   height: 100px;
   width: 80%;
   align-self: center;
   border-radius: 5px;
   border:none;
   background-color: rgba(255, 255, 255, 0.479);
}

input[type="submit"]{
   position: relative;
   top: 25px;
   width: 140px;
   padding: 5px;
   text-align: center;
   align-self: center;
   border: none;
   border-radius: 5px;
   background-color: rgba(8,156,134, 0.8);
}

/* about page */
.about-contents{
   width: 1400px;
   height: 600px;
   box-sizing: border-box;
   position: relative;
   top: 10%;
   margin: auto;
   padding: 10px;
   color: #24373d;
   background: rgb(3,108,94);
   background: linear-gradient(90deg, rgba(3, 150, 130, 0.7) 0%, rgba(2, 172, 149, 0.7) 35%, rgba(0,223,192,0.7) 100%);
   border-radius: 3px;
}

.experience,
.projects{
   background: rgba(255, 255, 255, 0.568);
   border-radius: 3px;
   padding: 5px;
   text-align: center;
}

.experience{
   height: 35%;
   margin: 10px;
}
.table-content{
   margin-top: 7px;
   display: flex;
   justify-content: space-around;
}

.table-content div p{
   padding: 5px;
}

.projects{
   height: 360px;
   margin: 10px;
}

.projects-details{
   margin-top: 5px;
}

.project2{
   margin-top: 25px;
}

.project-heading{
   text-align: left;
   padding-left: 3px;
}

.projects-details p{
   margin-top: 5px;
}

.projects-details a{
   text-decoration: none;
   color: #1B2E35;
   font-weight: 700;
}

/* thank you */
.thankyou{
   width: 600px;
   height: 155px;
   box-sizing: border-box;
   position: relative;
   top: 10%;
   margin: auto;
   padding: 10px;
   color: #24373d;
   background: rgb(3,108,94);
   background: linear-gradient(90deg, rgba(3, 150, 130, 0.7) 0%, rgba(2, 172, 149, 0.7) 35%, rgba(0,223,192,0.7) 100%);
   border-radius: 3px;
}

.thankyou div{
   text-align: center;
   border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.644);
    padding: 1px;
}

.thankyou > div h1,
.thankyou > div h4{
   margin: 10px 0;
}

/* tablets */
@media (max-width: 900px){
   body{
      overflow-x: scroll;
      min-width: 375px;
      font-size: x-large;
      box-sizing: border-box;
   }

   .navbar{
      background: linear-gradient(
90deg
, rgb(4, 128, 111) 0%, rgba(0,156,134,1) 35%, rgba(0,223,192,1) 100%);
   }

   .navigation li{
      width: 90px;
   }

   .navigation li a{
      font-size:xx-large;
      width: 30px;
   }

   .navigation span{
      display: none;
   }

   .homepage{
      width: 100%;
      height: auto;
   }

   .home-contents{
      height: auto;
   }

   .contacts-container{
      width: 100%;
      /* height: 1400px; */
      height: auto;
   }

   .contacts{
      flex-direction: column;
   }

   .card{
      margin:auto;
      width: 90%;
   }

   .linkedin{
      /* height: 300px; */
      margin-bottom: 20px;
   }

   .email{
      height: 55%;
   }

   .about-contents{
      width: 100%;
      height: auto;
   }

   .table-content{
      flex-direction: column;
   }

   .projects{
      height: 60%;
   }

   .email-form input[type="submit"]{
      top: 0;
   }
}

/* phones */
@media (max-width: 425px){
   body{
      overflow-x: scroll;
      min-width: 320px;
      font-size: x-large;
      box-sizing: border-box;
   }

   .navigation li{
      width: 32%;
   }

   .navigation li a{
      font-size:xx-large;
      width: 20%;
   }

   .homepage{
      width: 100%;
      height: 50%;
   }

   #summary{
      height: 100%;
   }

   .home-contents{
      height: 100%;
   }

   .contacts-container{
      top: 12%;
   }

   .contacts{
      width: 100%;
   }

   .card{
      width: 95%;
      height: auto;
   }

   /* .linkedin{
      height: 40%;
   } */

   .email-form input,
   #messageContent{
      width: 90%;
   }

   .email-form input[type="submit"]{
      top: 0;
   }
}