<main class="homepage">
    <div id="summary">
        <div class="home-contents">
            <h3>I'm a Junior JS Fullstack Developer</h3>
            <p>I have experience with ExpressJS, React, HTML & CSS.</p>
            <p>Glad to see you stopping by.</p>
        </div>
    </div>
</main>
