<main class="about-contents">
   <div class="about">
      <div class="experience">
         <h2>Experience</h2>
         <div class="table-content">
            <div>
               <p>working with JSON</p>
               <p>REST API</p>
               <p>Asynchronous programing</p>
               <p>Node.js</p>
            </div>
            <div>
               <p>ExpressJS and Handlebars</p>
               <p>MVC Architecture</p>
               <p>Non-relational database</p>
               <p>React and JSX</p>
            </div>
            <div>
               <p>Component-based applications</p>
               <p>Single Page Application</p>
               <p>Templates and routing</p>
               <p>HTML & CSS</p>
            </div>
         </div>
      </div>
      <div class="projects">
         <h2>Projects</h2>
         <div class="projects-details">
            <div class="project1">
               <h3 class="project-heading">My Pet React Project</h3>
               <p>My Pet application is meant to be like a basic social media platform for pets. The front-end contains
                  of React, HTML & CSS. It has user state, custom HOK for authentication and authorization check. The
                  back-end RESTful server is custom made with ExpressJS. For password hashing I have user Bcrypt.</p>
               <p>You can view the source code in my <a target=”_blank”
                     href="https://github.com/mickewasowski/React-Project-December-2021-Exam">Github</a> repository and
                  you can check out the project in action with this <a target=”_blank”
                     href="https://www.youtube.com/watch?v=TgF_xvNIJiE&ab_channel=RossYorgoff">Youtube</a> video.</p>
            </div>
            <div class="project2">
               <h3 class="project-heading">Portfolio website</h3>
               <p>This is the current website you are viewing. It is a static website hosted on the Github pages
                  platform. Created with HTML, CSS, ExpressJS, Handlebars. The email sending feature is possible thanks
                  to <a target=”_blank” href="https://formsubmit.co/">FormSubmit</a>.</p>
               <p>You can find the source code in my <a target=”_blank”
                     href="https://github.com/mickewasowski/mickewasowski.github.io">Github</a> repository.</p>
            </div>
         </div>
      </div>
   </div>
</main>